# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Videos
videos/
*.mp4

# Logs
*.log



# Build
dist/
build/
*.egg-info/

videos/
*.mp4

venv/

yolov8n.pt
__pycache__/
.pytest_cache/
videos/
*.mp4